MODEL_BACKEND=
MODEL_WEIGHTS_PATH=
VOCAB=
MODEL_CLASS=

LM_MODEL_NAME=
LM_MODEL_PATH=
LM_ALPHA=
LM_BETA=
LM_UNK_SCORE_OFFSET=

SAMPLE_RATE=
BEAM_WIDTH=
AUDIO_MAX_DURATION=

UI_TITLE=
UI_DESCRIPTION=
THEME=