MODEL_BACKEND=ibnet
MODEL_WEIGHTS_PATH=models/model_weights/best.pt
VOCAB=abcdefghijklmnopqrstuvwxyz '
MODEL_CLASS=

LM_MODEL_NAME=models/model_weights/6gram.bin
LM_MODEL_PATH=models/model_weights/6gram.bin
LM_ALPHA=0.15
LM_BETA=0.0
LM_UNK_SCORE_OFFSET=-10.0

SAMPLE_RATE=16000
BEAM_WIDTH=100
AUDIO_MAX_DURATION=30

UI_TITLE=IBNet Demo
UI_DESCRIPTION=Automatic Speech Recognition
THEME=dark
